<% layout('layouts/boilerplate') %>
     <div class="row">
          <h1 class="text-center">New Campground</h1>
          <div class="col-6 offset-3">
               <form action="/campgrounds" method="post" novalidate class="needs-validation" enctype="multipart/form-data">

                    <div class="mb-3">
                         <label for="title" class="form-label">Title</label>
                         <input type="text" class="form-control" id="title" placeholder="" name="title" required>
                         <div class="valid-feedback">
                              Looks good!
                         </div>
                    </div>
                    <div class="mb-3">
                         <label for="location" class="form-label">Location</label>
                         <input type="text" class="form-control" id="location" placeholder="" name="location" required>
                         <div class="valid-feedback">
                              Looks good!
                         </div>
                    </div>
                    
                    <div class="mb-3">
                          <label for="image" class="form-label">Add Images</label>
                          <input type="file" class="form-control" id="image" name="image" required multiple>
                          <div class="valid-feedback">
                              Looks good!
                         </div>
                    </div>
                    <div class="mb-3">
                         <label for="price" class="form-label">Campground Price</label>

                         <div class="input-group mb">
                              <span class="input-group-text" id="price-label">$</span>
                              <input type="number" class="form-control" placeholder="0.00" name="price" aria-label="price" required>
                              <div class="valid-feedback">
                                   Looks good!
                              </div>
                         </div>

                    </div>
                    <div class="mb-3">
                         <label for="description" class="form-label">Description</label>
                         <textarea class="form-control" id="description" rows="3" name="description"
                              required></textarea>
                         <div class="valid-feedback">
                              Looks good!
                         </div>
                    </div>
                    <div class="mb-3">
                         <button type="submit" class="btn btn-success">Add Campground</button>
                    </div>
               </form>
               <a href="/campgrounds">All Campgrounds</a>
          </div>
     </div>